<div flex class="container" >
        <h1>Medium {{action}}</h1>

        <div layout="row" class="layout-padding" flex-container="row">
            <div flex-item="1" ng-if="book.thumb !== ''">
                <img ng-src="{{book.thumb}}"/>
            </div>

            <formly-form model="book" flex-item="11" fields="$parent.bookFields" options="options">
                <button ng-click="submit($event)" class="btn btn--xl btn--blue btn--fab right" lx-ripple><i class="mdi mdi-content-save"></i></button>
                <button ng-click="options.resetModel(); book.thumb = '' " class="btn btn--xl btn--red btn--fab" lx-ripple><i class="mdi mdi-rotate-left" ></i></button>
            </formly-form>
        </div>
</div>
