<div flex class="container">
        <h1>Benutzer {{action}}</h1>

        <formly-form model="user" fields="$parent.userFields">
            <button ng-click="submit($event)" class="btn btn--xl btn--blue btn--fab right" lx-ripple><i class="mdi mdi-content-save"></i></button>
        </formly-form>
</div>
