<div flex class="container">
    <h1>Buch zurückgeben</h1>

    <form>
        <lx-select ng-model="back.book" placeholder="Buch"
                   choices="books" filter="getBarCodeMatches(newValue)" loading="{{bloading}}"
                   min-length="2" allow-clear="true" ng-change="updateUser()">
            <lx-select-selected>
                {{ $selected.display }}
            </lx-select-selected>
            <lx-select-choices>
                {{ $choice.display }}
            </lx-select-choices>
        </lx-select>
        <p ng-if="user"><strong>Von: </strong> {{user.vorname}}  {{user.nachname}}</p>
    </form>
    <button ng-click="submit($event)" ng-disabled="!back.book" class="btn btn--xl btn--blue btn--fab right" lx-ripple><i
        class="mdi mdi-undo"></i></button>


</div>
