<div class="card bgc-light-blue-500 no-print">
    <div class="toolbar">
        <span class="toolbar__label fs-title tc-white-1 ml">OHG Bibliothek</span>

        <div class="toolbar__right">
            <a ui-sref="index" title="Übersicht">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-home"></i>
                </button>
            </a>
            <a ui-sref="lend" title="Ausleihe">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-redo"></i>
                </button>
            </a>
            <a ui-sref="back" title="Rückgabe">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-undo"></i>
                </button>
            </a>
            <a ui-sref="listBooks" title="Medienübersicht">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-library-books"></i>
                </button>
            </a>
            <a ui-sref="listUsers" title="Benutzerübersicht">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-account-multiple"></i>
                </button>
            </a>
            <a ui-sref="settings" title="Einstellungen">
                <button class="btn btn--l btn--white btn--icon" lx-ripple>
                    <i class="mdi mdi-settings"></i>
                </button>
            </a>
            <lx-search-filter model="searchFilter.search" ng-keydown="searchKey($event)" ng-click="search()"
                              position="right" filter-width="400px" theme="dark"
                              closed></lx-search-filter>
        </div>
    </div>
</div>
