<div flex class="container">
    <h1>Buch ausleihen</h1>

    <form>

        <lx-select ng-model="lend.user" placeholder="Benutzer"
                   choices="users" filter="getMatches(newValue)" loading="{{loading}}"
                   min-length="2" allow-clear="true">
            <lx-select-selected>
                {{ $selected.display }}
            </lx-select-selected>
            <lx-select-choices>
                {{ $choice.display }}
            </lx-select-choices>
        </lx-select>

        <lx-select ng-model="lend.book" placeholder="Buch"
                   choices="books" filter="getBarCodeMatches(newValue)" loading="{{bloading}}"
                   min-length="2" allow-clear="true">
            <lx-select-selected>
                {{ $selected.display }}
            </lx-select-selected>
            <lx-select-choices>
                {{ $choice.display }}
            </lx-select-choices>
        </lx-select>
    </form>
    <button ng-click="submit($event)" ng-disabled="!(lend.book && lend.user)" class="btn btn--xl btn--blue btn--fab right" lx-ripple><i
        class="mdi mdi-redo"></i></button>


</div>
