<div class="container">
    <div class="data-table-container">
        <header class="data-table-header no-print">
            <div class="data-table-header__label">
                <span class="fs-title">Ergebnis</span>
            </div>

            <div class="data-table-header__actions">
                <button class="btn btn--l btn--black btn--icon" lx-ripple>
                    <i class="mdi mdi-filter-variant"></i>
                </button>

                <lx-dropdown position="right" over-toggle="true">
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a class="dropdown-link">Neue Suche</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-link dropdown-link--is-header">Ergebnis</a></li>
                            <li><a class="dropdown-link">Löschen</a></li>
                            <li><a class="dropdown-link" ng-click="export()">Exportieren</a></li>
                            <li><a class="dropdown-link" ng-click="print()">Drucken</a></li>
                            <li><a class="dropdown-link dropdown-link--is-header">Auswahl</a></li>
                            <li><a class="dropdown-link" ng-click="deleteSelected()">Löschen</a></li>
                            <li><a class="dropdown-link" ng-click="exportSelected()">Exportieren</a></li>
                            <li><a class="dropdown-link" ng-click="printSelected()">Drucken</a></li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </header>
        <table class="data-table">
            <thead>
            <tr class="data-table__selectable-row" >
                <th class="no-print"></th>
                <th class="data-table__sortable-cell data-table__sortable-cell--desc">Titel</th>
                <th>Autor(en)</th>
                <th>Erscheinungsjahr</th>
                <th>Signatur</th>
                <th>Ausgeliehen</th>
                <th class="no-print">Info</th>
            </tr>
            </thead>

            <tbody>
            <tr  class="data-table__selectable-row" ng-repeat="book in books" ng-class="{'data-table__selectable-row--is-selected': isSelected(book._id), 'no-print' : (!isSelected(book._id) && onlySelected)}">
                <td ng-click="select(book._id, $event)" class="no-print"></td>
                <td>{{book.title}}</td>
                <td>{{book.author | authors}}</td>
                <td>{{book.year}}</td>
                <td>{{book.signature}}</td>
                <td>{{book.isLend ? 'Ja' : 'Nein'}}</td>
                <td  ng-click="showBook(book)" class="no-print"><i class="mdi mdi-information"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <lx-dialog class="dialog dialog--l" id="showBook" auto-close="true" onclose="closingDialog()"
               onscrollend="scrollEndDialog()">
        <div class="dialog__header">
            <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{selected.title}} - {{selected.author | authors}}
            </span>

                <div class="toolbar__right">
                    <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="dialog__content">
            <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true"
                     layout="inline">
                <lx-tab heading="Über">
                    <div class="p++">
                        <img src="{{selected.thumb}}" style="float: right" alt="Cover des Buches" title="Cover"/>
                        <ul class="list">
                            <li ng-repeat="prop in keys" ng-if="selected[prop]">
                                <strong>{{translations[prop]}}: </strong> {{selected[prop] | authors}}
                            </li>
                        </ul>
                    </div>
                </lx-tab>

                <lx-tab heading="Entleihungen">
                    <div class="p+">
                        <ul class="list">
                            <li ng-repeat="lend in selected.lendings">
                                <div class="list-row__content">
                                    <span class="display-block">{{lend.user.vorname}} {{lend.user.nachname}} <span
                                        ng-if="lend.active">(Aktiv)</span><span
                                        ng-if="!lend.active">(Inaktiv)</span></span>
                                    <span class="display-block fs-body-1 tc-black-2">Ausgeliehen von - bis: {{lend.from | amDateFormat: 'l'}} - {{lend.until | amDateFormat: 'l'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </lx-tab>
            </lx-tabs>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat"  ng-click="giveBack(selected._id)" ng-if="selected.isLend" lx-ripple>Als
                zurückgegeben markieren
            </button>
            <button class="btn btn--m btn--black btn--flat"  ng-click="editMedium($event)" lx-ripple>Bearbeiten</button>
            <button class="btn btn--m btn--black btn--flat" lxDialogClose lx-ripple>Löschen</button>
        </div>
    </lx-dialog>
</div>
