<div class="container" layout="column" flex>
    <ul class="list">
        <li class="list-row list-row--has-separator" ng-repeat="user in users">
                <div class="list-row__primary">
                    <i class="icon icon--l  icon--circled material-icons md-24">face</i>
                </div>
                <div class="list-row__content" ng-click="showUser(user, $event)" lx-ripple>
                    <span class="display-block">{{user.vorname}} {{user.nachname}}</span>
                    <span class="display-block fs-body-1 tc-black-2" ng-if="user.typ === 'student'">Klasse {{user.course}}</span>
                </div>
        </li>
    </ul>

    <lx-dialog class="dialog dialog--l" id="showUser" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
            <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{selected.vorname}} {{selected.nachname}}
            </span>

                <div class="toolbar__right">
                    <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
                        <i class="mdi mdi-close"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="dialog__content">
            <lx-tabs links-tc="light" links-bgc="light-blue-500" indicator="yellow-500" no-divider="true" layout="inline">
                <lx-tab heading="Über">
                    <div class="p++">
                        <ul class="list">
                            <li ng-repeat="prop in keys" ng-if="selected[prop]">
                                <strong>{{translations[prop]}}: </strong> {{selected[prop]}}
                            </li>
                        </ul>
                    </div>
                </lx-tab>

                <lx-tab heading="Entleihungen">
                    <div class="p+">
                        <ul class="list">
                            <li ng-repeat="lend in selected.lendings">
                                <div class="list-row__content">
                                    <span class="display-block">{{lend.book.title}} ({{lend.book.author | authors}}) <span ng-if="lend.active">(Aktiv)</span><span ng-if="!lend.active">(Inaktiv)</span></span>
                                    <span class="display-block fs-body-1 tc-black-2">Ausgeliehen von - bis: {{lend.from | amDateFormat: 'l'}} - {{lend.until | amDateFormat: 'l'}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </lx-tab>
            </lx-tabs>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="editUser(selected._id)">Bearbeiten</button>
            <button class="btn btn--m btn--black btn--flat" lx-ripple >Löschen</button>
        </div>
    </lx-dialog>
</div>
