<div class="container">
    <h1 class="fs-display-4 display-block">Wilkommen!</h1>
</div>
<div class="fab bottom-right">
    <button class="fab__primary btn btn--xl btn--red btn--fab" lx-ripple lx-tooltip="Daten hinzufügen"
            tooltip-position="top">
        <i class="mdi mdi-plus"></i>
        <i class="mdi mdi-plus"></i>
    </button>

    <div class="fab__actions fab__actions--left">
        <a ui-sref="addMedium">
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Buch" tooltip-position="top"><i
                class="mdi mdi-book"></i></button>
        </a>
        <a ui-sref="addUser">
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Benutzer" tooltip-position="top"><i
                class="mdi mdi-account"></i></button>
        </a>
    </div>
</div>
