<div class="container">
    <h1>Einstellungen</h1>

    <formly-form model="settings" fields="formFields">
        <h3>Ferien</h3>
        <div ng-repeat="ferie in ferien">
            <lx-date-picker model="settings.ferien[$index].beginn" label="Start der {{ferie.title}}" allow-clear="true"></lx-date-picker>
            <lx-date-picker model="settings.ferien[$index].ende" label="Ende der {{ferie.title}}" allow-clear="true"></lx-date-picker>
        </div>
        <button ng-click="submit($event)" class="btn btn--xl btn--blue btn--fab right" lx-ripple><i
            class="mdi mdi-content-save"></i></button>
    </formly-form>
</div>
