@import "../lib/lumx/dist/scss/lumx";

#overlay {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2; /* also -moz-opacity, etc. */
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

.cover-thumbnail {
    width: 40px;
    /* height: 40px; */
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    /* border-radius: 50%; */
    box-sizing: content-box;
}

.img-responsive {
    height: 100%;
    width: 100%;
}

.some-padding {
    padding: 5px;
}

.container {
    margin: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.right {
    float: right;
}

// Rules for sizing the icon.
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

// Rules for using icons as black on a light background.
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

// Rules for using icons as white on a dark background.
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* scaffolding */
/* ----------- */

.tt-dropdown-menu,
.gist {
    text-align: left;
}

.ng-invalid {
    border-color: red !important; /* just for visual */
}

@media print {
    .no-print {
        display: none;
    }
}
